@media (max-width: 775px) {
  .second-container {
    grid-template-columns: none;
  }
}

@media (max-width: 775px) {
  .first-section {
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 775px) {
  .second-section {
    border-bottom-left-radius: 0.5rem;
  }
}

